
.vs/Doc/v16/.suo
.vs/Doc/v16/.suo
.vs/Doc/v16/Server/sqlite3/storage.ide
*.exe
*.application
*.application
DataBase_Demo/obj/Debug/Doc.csprojAssemblyReference.cache
.vs/Doc/v16/.suo
*.cache
.vs/Doc/v16/Server/sqlite3/storage.ide-shm
.vs/Doc/v16/Server/sqlite3/storage.ide-wal
DataBase_Demo/obj/Debug/Doc.csprojAssemblyReference.cache
!*.cs
!*.resx